<div #aboutContainer class="about-container" id="sobre-nosotros">
  <!-- IZQUIERDA: Texto -->
  <div #aboutLeft class="about-left">
    <h2 class="section-title">Sobre Nuestro Servicio</h2>
    <p class="about-text">
      
      <br>
      En Marckpluss nos dedicamos a la intermediación de ventas y 
      arriendos por corretaje a nivel nacional, con un enfoque 
      estratégico en Bogotá. Nuestro propósito es acompañar a 
      cada cliente de manera cercana, familiar, profesional y 
      transparente durante todo el proceso de compra y venta de 
      su propiedad.
      <br>
      Creemos que cada cliente que llega a traves de nosotros 
      con la ilucion de vender o adquirir su propiedad, 
      representa una historia familiar, una meta o un nuevo 
      comienzo. 
      <br>
      Por eso trabajamos con un modelo híbrido presencial
      y virtual que nos permite brindar atención personalizada, 
      eficiente y adaptada a las necesidades  de cada familia.
      Nos diferenciamos por ofrecer más que un servicio inmobiliario
      un acompañamiento humano, con un proceso claro que genera 
      tranquilidad y confianza en cada paso.

  </div>

  <!-- DERECHA: Carrusel vertical / horizontal responsive -->
  <div #aboutRight class="about-right" [class.visible]="isVisible">
    <div #achievementsViewport class="achievements-viewport">
      <div #achievementsTrack class="achievements-track">
        <div *ngFor="let logro of logrosDuplicados" class="achievement-card">
          <i [class]="logro.icon"></i>
          <div class="achievement-text">
            <h3>{{ logro.title }}</h3>
            <p>{{ logro.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>